<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/public/js/articles.js"></script>
  <title>Статті</title>
</head>
<body>
  <% include blocks/header.ejs %>
  <h1>Статті</h1>
</body>
</html>
