<table width="100%" bgcolor="#563D7C" borderspacing="0" height="50px" cellpadding="5px">
  <tr align="right">
    <td>
      <a href="/"><font size="4" color="#FFFFF0">Головна</font></a>
    </td>
    <td width="106px">
      <a href="/trees"><font size="4" color="#FFFFF0">Список дерев</font></a>
    </td>
  </tr>
</table>
</br>
</br>
